*{
  scroll-behavior: smooth;
}
body{
  font-family: monospace;
}

.carousel-inner .item img{
    margin: auto;
}
.carousel-indicators li{
    background-color: black;
}
.carousel{
    background-color:#ffffff;
}
/* .logo{
    background-color: black;
    width: 100%;
}
.minilogo img{
  position: absolute;
  left: -100px;
  top: -90px;
}
.logo div{
    margin: auto ;
}

.navbar-default{
    background-color: black;
    margin-top: 2rem;
}
.navbar-default ul img{
   margin-left: 120px;

}
.navbar-default ul li a{
    padding: 3rem;
    font-size: 3rem;
}
.navbar-default div{
    margin-left: 1rem;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
} */

.navbar-brand{
  line-height: 50px;
  color: white !important;
  font-size: 40px;
  font-family: logo;
  margin-left:40px ;
  padding: 0px 0px 0px 20px;
}
.navbar-nav{
  margin-top: 18px;
  
}
.my-nav {
  background-color: black;
  width: 100%;
  z-index: 999;
  border: none;
  border-radius: 0px;
  margin-bottom: 0px;

}
.my-nav .navbar-nav {
  display: inline-block;
  float:none;

}

.my-nav .navbar-collapse {
  text-align: center;
  line-height: 0px;
}

.my-nav .navbar-nav > li{
  margin: 0px 40px;
}
.my-nav .navbar-nav > li > a{
  color: white !important;
  font-size: 24px;

 -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
}

.my-nav .navbar-nav > li > a:visited{
  color: rgb(221, 218, 218);
  }
.my-nav .navbar-nav > li > a:hover{
background-color: rgb(255, 255, 255);
color: black !important;
border-radius: 7px;
}

#myBtn{
  font-size: 30px;
  background: transparent;
  border: none;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  outline: none;
  cursor: pointer;
}

.carousel-control.left, .carousel-control.right {
  color: black;
  background-image:none !important;
  filter:none !important;
}

/* wallpaper */
#wallpaper{
  position: relative;
}
#center{
  position: absolute;
  text-align: center;
  color:whitesmoke;
  font-weight: bold;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 45px;
}
#bottom-center{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  text-transform: uppercase;
  padding: 15px;
  background-color: whitesmoke;
  color: black;
  border: none;
  transition: all 1s ease;
}
#bottom-center:hover{
  background-color: black;
  color: whitesmoke;
}
/* wallpaper */

/* customer review */
#review{
  margin-top: 50px;
}
#review p{
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}
#review-wallpaper{
  background-image: url(../garment_home_img/review-wallpaper.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
/* customer review */

/* collection */
#collection{
  margin-top: 50px;
  position: relative;
  background-image: url(../garment_home_img/solid-wallpaper.png);
  background-size: 100%;
}
#collection-text{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 2px 2px 2px 2px;
}
#collection-text2{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  font-weight: bold;
  font-size: 40px;
  box-shadow: 2px 2px 2px 2px;
}
#collection-text3{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: whitesmoke;
  background-color: black;
  font-weight: bolder;
  font-size: 40px;
  box-shadow: 2px 2px 2px 2px;
}
#collection-header{
  font-weight: bold;
  margin-top: 40px;
  text-align: center;
  font-size: 50px;
}
/* collection-end */

footer{
    background-color: black;
    color: white;
    height: 200px;
}
.fa{
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  background-color: white;
  border-radius: 100%;
  
}

.fa:hover {
  opacity: 0.7;
  text-decoration: none;
}

footer p{
    margin-top: 2rem;
}
footer div div {
  margin-top: 2rem;
  margin-left: 3rem;
}
footer div div a:hover{
  text-decoration: none;
}
.vien{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    height: 20px;
    font-size: 10px;
}

#dropdown-menu img{
  margin: 0;
}

.page-section {
    padding: 6rem 0;
  }
  .page-section h2.section-heading, .page-section .section-heading.h2 {
    font-size: 3rem;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  .page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 2rem;
    font-weight: 400;
    font-style: italic;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    margin-bottom: 4rem;
    padding: 0.8rem;
  }
  /* team */
  #team{
    background-image: url(../garment_home_img/team-wallpaper.png);
    background-repeat: no-repeat;
    
    margin-top: 40px;
    font-size: 20px;
  }
  .team-member{
    color: black;
  }
  
  .team-member img {
    width: 14rem;
    height: 14rem;
    border: 0.5rem solid rgba(0, 0, 0, 0.1);
    margin-left: 5rem;
  }
  .team-member h4, .team-member h4 {
    margin-top: 1.5rem;
    margin-bottom: 0;
    margin-left: 5rem;
  }
  .team-member h4, .team-member a{
      margin-left: 1.3rem;
  }
  .team-member h4, .team-member p{
    margin-left: 5rem;
  }
  .rounded-circle {
    border-radius: 50% !important;
  }
/* team */


/* About us */
section#about{
    background-image: url(../garment_home_img/wall_about.jpg);
    z-index: 0;
}
  .timeline {
  position: relative;
  padding: 0;
  list-style: none;
}
.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: "";
  background-color: white;
}
.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}
.timeline > li:after, .timeline > li:before {
  display: table;
  content: " ";
}
.timeline > li:after {
  clear: both;
}
.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #ffc800;
}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}
.timeline > li:last-child {
  margin-bottom: 0;
}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {
  margin-top: 0;
  color: inherit;
  font-size: 2rem;
  font-weight: bold;
}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {
  text-transform: none;
}
.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}
@media (max-width: 1024px){
  .navbar-toggle{
    display: none;
  }
  .navbar-nav{
    margin-top: 18px;
  }
  .my-nav .navbar-nav > li > a{
    color: white !important;
    font-size: 20px;
  
   -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
  }
}

@media (max-width: 768px) {
  .navbar-brand{
    line-height: 50px;
    color: white !important;
    font-size: 30px;
    font-family: logo;
    padding: 0px 10px 0px 5px;
  }

    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: left!important;
        margin-top: 7.5px;
        text-align: left;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
  #team{
    text-align: center;
  }
  #collection-text{
    text-align: center;
  }
  #collection-text2{
    text-align: center;
  }
  #collection-text3{
    text-align: center;
  }
  footer{
    background-color: black;
    color: white;
    height: 400px;
  }
    
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }

    #logo-img{
      display: none;
    }

    #dropdown-menu{
      margin-top: 10px;
      color: white;
    }
    .dropdown-menu {
      display: none;
      position: absolute;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
      z-index: 1;
    }
    
    .dropdown-menu a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }

  }


@media (min-width: 768px)  {
  
  .dropdown:hover a{
    color: black;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  #collection-text{
    text-align: center;
  }
  #collection-text2{
    text-align: center;
  }
  #collection-text3{
    text-align: center;
  }
  
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
  
}

@media (max-width: 992px){
  #collection-text{
    text-align: center;
  }
  #collection-text2{
    text-align: center;
  }
  #collection-text3{
    text-align: center;
  }
  #team{
    text-align: center;
  }
  footer{
    background-color: black;
    color: white;
    height: 400px;
  }
    
    .timeline:before {
      left: 50%;
    }
    .timeline > li {
      min-height: 100px;
      margin-bottom: 100px;
    }
    .timeline > li .timeline-panel {
      float: left;
      width: 41%;
      padding: 0 20px 20px 30px;
      text-align: right;
    }
    .timeline > li .timeline-image {
      left: 50%;
      width: 100px;
      height: 100px;
      margin-left: -50px;
    }
    .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
      font-size: 13px;
      line-height: 18px;
      margin-top: 16px;
    }
    .timeline > li.timeline-inverted > .timeline-panel {
      float: right;
      padding: 0 30px 20px 20px;
      text-align: left;
    }

    #logo-img{
      display: none;
    }

    #dropdown-menu{
      margin-top: 20px;
    }
}

@media (min-width: 992px) {
  #collection-text{
    text-align: center;
  }
  #collection-text2{
    text-align: center;
  }
  #collection-text3{
    text-align: center;
  }
  #team{
    text-align: center;
  }
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  #team{
    text-align: center;
  }
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
  
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
.text-muted {
    color: #353434 !important;
  }


@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}



  
  